<form action="/libro/login" method="post">
    <label for="usuarioId">Usuario</label>
    <input id = "usuarioId" type="text" name="usuario">
    <label for="passwordId">Password</label>
    <input id="passwordId" type="password" name="password">
    <button type="submit">Logearse</button>
</form>